# Software Engineering Test Results

Here's a collection of test results relevant to software engineering.

- **February 2020** [Codility Test, 3 questions, 110 minutes - 100% in all tasks](https://app.codility.com/c/feedback/NGD6TS-ZUH/)
- **September 2018** [Pluralsight Tests, 11 concentrations](https://app.pluralsight.com/profile/cris-stringfellow-e)

  **Pluralsight Summary**

  | Concentration | Score/300 | Percentile |
  | ------------- | ---------:| ----------:|
  | C#            |   246     |    95      |
  | Security      |   136     |    40      |
  | Networking    |   160     |    56      |
  | Python        |   276     |    99      |
  | React         |   251     |    96      |
  | C++           |   195     |    78      |
  | Java          |   227     |    90      |
  | Node.JS       |   218     |    87      |
  | CSS           |   282     |    99      |
  | HTML5         |   288     |   100      |
  | JavaScript    |   271     |    98      |

  **Summary results**
    - **Average score out of 300**: 231
    - **Average % score**: 77%
    - **Average percentile of score**: 85
 
