# Software Engineering Test Results

Here's a collection of test results relevant to software engineering.

- #### **February 2020** [Codility Test, 3 questions, 110 minutes - 100% in all tasks](https://app.codility.com/c/feedback/NGD6TS-ZUH/)

  **Screenshot:**
  
  ![codility test result](https://raw.githubusercontent.com/cris691/Portfolio/master/images/codility-DOMINATION-raaa.JPG)
  
- #### **September 2018** [Pluralsight Tests, 11 concentrations](https://app.pluralsight.com/profile/cris-stringfellow-e)

  **Pluralsight Results Table**

  | Concentration | Score/300 | Percentile |
  | ------------- | ---------:| ----------:|
  | HTML5         |   288     |   100      |
  | CSS           |   282     |    99      |
  | Python        |   276     |    99      |
  | JavaScript    |   271     |    98      |
  | React         |   251     |    96      |
  | C#            |   246     |    95      |
  | Java          |   227     |    90      |
  | Node.JS       |   218     |    87      |
  | C++           |   195     |    78      |
  | Networking    |   160     |    56      |
  | Security      |   136     |    40      |

  **Score Summary**

  Results show skill concentration in high level dynamic programming languages with a focus on web technologies. And less experience tho still competent in low level systems programming with a focus on networking and security.

    - **top:bottom quartile average % score**: 99:58
    - **Average:median score out of 300**: 231:246
    - **Average:median % score**: 77:82%
    - **Average percentile of score**: 85
    - **Median percentile of score**: 95
    - **Mode percentile of score**: 99

 
